<div class="modal-div">
<!-- Modal -->
<div class="modal fade" id="rightsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h2 id="rightsModallLabel"><%= t('sufia.product_name') %> Licence Descriptions</h2>
      </div>
      <div class="modal-body">
        <p>It is important to define the terms under which content may be reused, especially if the content is to be made Open Access. You may indicate your preferred licence here. This will be subject to confirmation by Legal Support. Note that some funders mandate specific licences for re-use of content.
	</p>
        <p>Further <a href="http://www.dcc.ac.uk/resources/how-guides/license-research-data" target="_blank">guidance on licensing research data</a> is available from the Digital Curation Centre.
        </p> <ul>
        <li><b>Open Data Commons Open Database Licence: ODC ODbL</b><br/>
        This licence is specifically designed for databases. With this licence others may "copy, distribute and use" the database, may produce works from it, and may "modify, transform and build upon" the database &ndash; including for commercial purposes &ndash; provided they attribute the original creator, and share any adapted version of the database under the ODbL licence also. There is no obligation for users to share other works produced from the database.</li>
        <li><b>Creative Commons Attribution 4.0: CC BY</b><br/>
        With this licence others may "distribute, remix, tweak, and build on" the deposited content &ndash; including for commercial purposes &ndash; provided they attribute the original creator.</li>
        <li><b>Creative Commons Attribution-Share-Alike 4.0: CC BY-SA</b> <br/>
        With this licence others may "remix, tweak, and build on" the deposited content, including for commercial uses, provided they attribute the original creator <b>and</b> incorporate the same level of licensing (i.e., CC BY-SA) for the newly resulting creation. "All new works based on yours will carry the same licence, so any derivatives will also allow commercial use."</li>
        <li><b>Creative Commons Attribution-NoDerivs 4.0: CC BY-ND </b><br/>
        With this licence "redistribution, commercial and non-commercial," is permitted provided the content remains unaltered and intact (i.e., whole) and provided the original creator is attributed.</li>
        <li><b>Creative Commons Attribution-Non-Commercial 4.0: CC BY-NC</b><br/>
        With this licence others may "remix, tweak, and build on" the content in non-commercial ways. While they must credit the original creator and while the derived content must remain non-commercial, they do not have to apply identical licence terms on the new content.</li>
        <li><b>Creative Commons Attribution-NonCommercial-NoDerivs 4.0: CC BY-NC-ND</b><br/>
        With this licence the work is shared with others, allowing them to download it and redistribute it, provided they attribute the creator and refrain from changing the content in any way or from using it for commercial means. </li>
        <li><b>Creative Commons Attribution-Non-Commercial-Share-Alike 4.0: CC BY-NC-SA</b><br/>
        With this licence others may "remix, tweak, and build on" the content in non-commercial ways, provided they credit the original creator, and also apply the same licence level to the newly resulting creations.</li>
        <li><b>Creative Commons Public Domain Dedication: CC0</b><br/>
        With this licence the University waives its rights as copyright owner to the content you upload. This means that the content may be distributed and reused without attribution, without restriction. Only the owner of the copyright may apply such a licence.</li>
        <li><b>Public Domain Mark 1.0</b><br/>
        When content is in the public domain, any copyright has lapsed. This is not a licence to be applied, but rather a label to indicate the existing legal position.</li>
        </ul>
    </p>
    <p> Please note: Another licence option that is listed is <b>"All rights reserved."</b> With this licence the University reserves all rights held under copyright law, such as for distribution and creation of derivative works. This means that no one can use the content in a work &ndash; such as a presentation or article &ndash; or create derivatives from it without permission of the University.</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>
