<h2 class="sr-only">Descriptions</h2>
<dl class="metadata-collections">
  <% terms = @presenter.terms_with_values - [:title, :abstract]
     if can? :show, :unpublished_doi and not terms.index :identifier
       terms << :identifier
     end
     present_terms(@presenter, terms) do |r, term| %>
      <dt><%= r.label(term) %></dt>
      <dd><%= r.value(term) %></dd>
  <% end %>
</dl>
