<div class="col-xs-12 col-sm-6">
  <%= render partial: 'recents', locals: { recent_documents: @recent_documents, msg: t('sufia.homepage.no_public'), display_thumbs: true, display_access: false } %>
</div><!-- /.col-xs-6 -->
<div class="col-xs-12 col-sm-6">
  <div>
    <%- if blacklight_config.respond_to?(:tag_cloud_field_name) && blacklight_config.tag_cloud_field_name %>
        <div class="row">
          <div class="col-xs-12">
            <h2 class="heading1 pull-left"><%= t('sufia.homepage.explore') %></h2>
            <span class="sr-only"><%= t('sufia.homepage.sr_explore') %></span>
            <%= render partial: 'tagcloud', locals: { tag_cloud_field_name: blacklight_config.tag_cloud_field_name } %>
          </div>
        </div>
    <%- end %>
  </div>
</div>
