development:
  secret_key_base: SECRET-KEY
  ldap_host: ldaphost.myorganisation.org
  ldap_base: ou=People,dc=myorganisation,dc=org

test:
  secret_key_base: SECRET-KEY
  ldap_host: ldaphost.myorganisation.org
  ldap_base: ou=People,dc=myorganisation,dc=org

production:
  secret_key_base: SECRET-KEY
  ldap_host: ldaphost.myorganisation.org
  ldap_base: ou=People,dc=myorganisation,dc=org
  solr_url: http://solrhost.myorganisation.org/solr/core
  fedora_url: http://fedorahost.myorganisation.org/fedora/rest
  fedora_base_path: /prod
  db_database: hydra
  db_username: hydra
  db_password: hydra
  db_host: mysqlhostmyorganisation.org
  db_port: 3306
