<h1>Use Policy</h1>

<h2>Purpose</h2>

<p>The purpose of Durham Research Online (DRO) is to open and speed up access to Durham University’s research. DRO provides access to bibliographic descriptions or ‘metadata’ about research outputs created by Durham University researchers. The full-text is provided where publishers’ policies permit. Research outputs include:</p>

<ul>
<li>pre-prints (unpublished, not peer-reviewed)</li>
<li>post-prints (accepted for publication and peer-reviewed)</li>
</ul>

<p>Items are individually tagged with their publication and peer-review status.

<h2>Metadata</h2>

<p>Anyone may access the metadata free of charge.</p>

<p>Metadata may be re-used in any medium, without prior permission, for personal research or study, educational, or not-for-profit purposes.</p>

<p>Metadata must not be re-used in any medium for commercial purposes without prior permission or unless licence agreements permit.</p>

<p>A link should be made to the DRO metadata record.

<h2>Full-text</h2>

<p>Anyone may access the full-text free of charge.</p>

<p>The full-text may be used and/or reproduced, and given to third parties in any format or medium, without prior permission or charge, for personal research or study, educational, or not-for-profit purposes.</p>

<p>Items must not be sold in any format or medium without the formal permission of the copyright holders, unless licence agreements permit.</p>

<p>A link should be made to the DRO metadata record and a full bibliographic reference given to the original source.</p>

<h2>Deposit</h2>

<p>Items may only be deposited by Durham University staff. Authors may only deposit their own work in DRO. Where items with multiple authors are deposited, it is assumed that the Depositor has obtained permission to do so from the other authors.</p>

<p>The validity and authenticity of deposited items is the sole responsibility of the Depositor.</p>

<p>The DRO Administrator will verify that proposed items are within the scope of DRO, and will check the accuracy and formatting of the metadata.</p>

<p>Authors who propose items which fall outside the scope and current capabilities of the DRO will be contacted by the DRO Administrator for further discussion.</p>

<p>If the DRO Administrator is made aware of a copyright violation, the relevant items will be removed immediately.  Details are contained in the <a href='https://www.dur.ac.uk/resources/library/takedownpolicy.pdf'>DRO Take-down policy</a>.</p>

<p>Items will be withheld until a publisher’s or funder’s embargo period has expired.</p>

<h2>Preservation</h2>

<p>Metadata and full-text will be retained indefinitely.</p>

<p>Best efforts will be made to ensure the continued readability and accessibility of the full-text by migrating to new formats where necessary. However, it may not be possible to migrate non-standard file formats.</p>

<p>Files in DRO will be backed up regularly according to current best practice.</p>

<p>The URL of full-text which has been removed will be retained indefinitely. A note will be inserted into the metadata record explaining the reason for removal, together with a link to any replacement version.</p>
